$main-header-height: 64px;
$main-title-height: 60px;


// margin
$margin-size-normal: 8px;




// color
$main-title-color: #252525;
$main--bg-color: #0784FF;
$theme-color: #0784FF;


/* font */
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-normal: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 30px;
$font-weight-bold: 500;
